<p-toolbar class="design">
  <div class="p-toolbar-group-left second">
    <i class="pi pi-prime"><i><b>  LOGIN - SIGNUP APP</b></i> </i>
  </div>

  <div class="p-toolbar-group-right">
    <button pButton pRipple type="button" icon="pi pi-search-plus" class="p-button-rounded p-button-text up" (click)="scaleUp()"></button>
    <button pButton pRipple type="button" icon="pi pi-search-minus" class="p-button-rounded p-button-text down" (click)="scaleDown()"></button>
    <p-button styleClass="p-button-secondary" label="DarkMode"></p-button>
  </div>
</p-toolbar>
<span [style.padding]="returnCount() + 'px'">
<router-outlet></router-outlet>
</span>
